mixin asset

  .asset
    .asset_img
      a(href='')  
        img(src='/images/test.png')
    .asset_info
      a(href='')    
        h3 Asset 1
      hr
      p asset id: 1352343252
      p Date Created: 03/12/2020
      p Number of matches: 100
      p matches with auto takedown: 0
      p last time scanned: 3/12/2020
      p take downs filed: 0
      p take downs won: 0
      p monitoring status: true